<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="{{ site.base_url }}/">{{ site.title }}</a>
  <ul class="nav navbar-nav">
    {% assign navPages = site.pages | sort:"navbar" %}
    {% for item in navPages %}
      {% if item.navbar %}
        <li class="nav-item{% if item.url == page.url %} active{% endif %}">
          <a class="nav-link"
            href="{{ site.base_url }}{{ item.url | replace:"index.html" }}"
            >{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
</nav>
