<!doctype html>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>
<link rel="stylesheet" href="//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

<body>

{% include navbar.html %}

<div class="container">
  <div class="row">
    <div class="col-md-2">
      {% include sidebar-left.html %}
    </div>
    <div class="col-md-8">
      {{ content }}
    </div>
    <div class="col-md-2">
      {% include sidebar-right.html %}
    </div>
  </div>
</div>
